@model AxisManagementApp.Models.SelPLProduct

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SelPLProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <input asp-for="ProjectID" class="form-control" />
                <span asp-validation-for="ProjectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectStatus" class="control-label"></label>
                <input asp-for="ProjectStatus" class="form-control" />
                <span asp-validation-for="ProjectStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWNW_ID" class="control-label"></label>
                <input asp-for="NWNW_ID" class="form-control" />
                <span asp-validation-for="NWNW_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NWPR_PFX" class="control-label"></label>
                <input asp-for="NWPR_PFX" class="form-control" />
                <span asp-validation-for="NWPR_PFX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GRGR_ID" class="control-label"></label>
                <input asp-for="GRGR_ID" class="form-control" />
                <span asp-validation-for="GRGR_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GRGR_NAME" class="control-label"></label>
                <input asp-for="GRGR_NAME" class="form-control" />
                <span asp-validation-for="GRGR_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastEditMSID" class="control-label"></label>
                <input asp-for="LastEditMSID" class="form-control" />
                <span asp-validation-for="LastEditMSID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataLoadDate" class="control-label"></label>
                <input asp-for="DataLoadDate" class="form-control" />
                <span asp-validation-for="DataLoadDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
